/*	#region general CSS	*/
:root {
	--black: #1d1d1d;
	--grey: #515152;
}

#root {
	background-color: var(--black);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
}

.scribble {
	color: var(--grey);
	font-family: 'La Belle Aurore', cursive;
	font-size: 1.8rem;
	transition-timing-function: cubic-bezier(0, 0.98, 0.03, 0);
}

@media (max-width: 640px) {
	.scribble {
		font-size: 1.2rem;
	}
}

#hej {
	position: absolute;
	width: 100%;
	height: 100%;
}

div {
	display: flex;
}

/*	#endregion	*/
/*	#region homepage	*/
#skillsBtn,
#aboutBtn {
	width: fit-content;
	height: fit-content;
}
/*	#endregion	*/
/*	#region skills page	*/
#skills {
	position: relative;
	flex-direction: column;
	column-count: 1;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;
	z-index: 5;
}

#codeBox {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30%;
	margin-left: 50%;
	width: 0%;
	height: 50px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	transition: width 2s linear;
	opacity: 0;
}
#codeBox:hover {
	height: 200px;
	transform: rotate(180deg);
}

/*	#endregion	*/
/*	#region about page	*/

#about {
	position: relative;
	flex-direction: column;
	column-count: 1;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;
	z-index: 5;
}

#content {
	flex-direction: row;
}

#description {
	margin-right: 30px;
	width: 45%;
}

#rightSide {
	flex-direction: column;
	column-count: 1;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 45%;
}

#picture,
#pic {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.button {
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.button1 {
	background-color: var(--black);
	color: white;
	border: 2px var(--black);
	border-radius: 100%;
}

/* .button1:hover {
  background-color: var(--grey);
  color: white;
  border: 2px solid var(--black);
} */

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\2190 ';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-left: 25px;
}

.button:hover span:after {
	opacity: 1;
	left: 0;
}

#langs {
	user-select: none;
}

/*	#endregion	*/
/*	#region	login page	*/

/*	#endregion	*/
/*	#region spinner		*/
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-container {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.loading-spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #16a085;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

.loading-spinner:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	animation: spin-reverse 0.6s linear infinite;
}

.loading-spinner:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
/*	#endregion	*/
